{% assign crewList = currentUnit.pilotList %}
{% include crew-role.html title="Pilot" %}
{% assign crewList = currentUnit.driverList %}
{% include crew-role.html title="Driver" %}
{% assign crewList = currentUnit.helmsmanList %}
{% include crew-role.html title="Helmsman" %}
{% assign crewList = currentUnit.gunnerList %}
{% include crew-role.html title="Gunner" %}
{% assign crewList = currentUnit.vesselCrewList %}
{% include crew-role.html title="Vessel Crew" %}
{% assign crewList = currentUnit.crewList %}
{% include crew-role.html title="Crew" %}
{% assign crewList = currentUnit.menList %}
{% include crew-role.html title="Men" %}
{% assign crewList = currentUnit.navigatorList %}
{% include crew-role.html title="Navigator" %}
