{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {% if page.funds %}
        <h3><strong>Funds: </strong>{{ page.funds }}</h3><br>
      {% endif %}
      {{content}}
    </div>
  </main>
{% include footer.html %}
<script>
  const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

  const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
      v1 !== '' && v2 !== '' && !isNaN(v1.replace(/,/g, '')) && !isNaN(v2.replace(/,/g, '')) ? v1.replace(/,/g, '') - v2.replace(/,/g, '') : v1.toString().localeCompare(v2)
      )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

  // do the work...
  document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
      const table = th.closest('table');
      Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
          .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
          .forEach(tr => table.appendChild(tr) );
  })));
</script>
</body>
</html>
