{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {% if page.funds %}
        <h3><strong>Funds: </strong>{{ page.funds }}</h3><br>
      {% endif %}
      <table class="sorttable">
        <tr>
          {% for header in page.headers %}
            <th><a href="#" class="sort-by">{{header}}</a></th>
          {% endfor %}
        </tr>
        {% for transaction in page.transactions %}
          <tr>
            {% for value in transaction.transaction %}
              <td>{{value}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      {{content}}
    </div>
  </main>
{% include footer.html %}
{% include table-sort-script.html %}
</body>
</html>
