{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {{content}}
      {% for unit in site.tro %}
      <div class="row">
        <div class="col">
          <div class="container my-2">
            {% if unit.salvage %}
              <strike>
            {% endif %}
            <h3><a class="title" href="{{ unit.url }}">{{ unit.name }}</a></h3>
            {% if unit.salvage %}
              </strike>
            {% endif %}
              {% if unit.person %}
                <strong>Pilot: </<strong><a href="personnel/{{ unit.person-slug }}">{{ unit.person }}</a><br>
              {% endif %}
              {% if unit.force %}
                <strong>Unit: </<strong><a href="toe/{{ unit.force-slug }}">{{ unit.force }}</a><br>
              {% endif %}
            <hr>
          </div>
        </div>
      </div>
      {% endfor %}
  </main>
{% include footer.html %}
</body>
</html>
