{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {{content}}
      {% for unit in site.tro %}
      <div class="row">
        <div class="col">
          <div class="container my-2">
            {% if unit.salvage %}
              <strike>
            {% endif %}
            {% if unit.refit %}
              <i><u>
            {% endif %}
            <h3><a class="title" href="{{ site.baseurl }}tro/{{ unit.slug }}">{{ unit.name }}</a></h3>
            {% if unit.refit %}
              </u></i>
              <p>Refitting</p>
            {% endif %}
            {% if unit.salvage %}
              </strike>
              <p>Salvage</p>
            {% endif %}
            {% assign currentUnit = unit %}
            {% include unit-crew.html %}
            {% if unit.force %}
              <strong>Unit: </<strong><a href="{{ site.baseurl }}forces/{{ unit.force-slug }}">{{ unit.force }}</a><br>
            {% endif %}
            <hr>
          </div>
        </div>
      </div>
      {% endfor %}
  </main>
{% include footer.html %}
</body>
</html>
