{% include header.html %}
  <main role="main">
    <div class="container top bg-light mt-3">
      {% assign currentUnit = page %}
      {% include unit-crew.html %}

      {% if page.force %}
        <strong>Unit: </strong><a href="{{ site.baseurl }}forces/{{ page.force-slug }}">{{ page.force }}</a><br>
      {% endif %}

      {% if page.cost %}
        <strong>Cost: </strong>{{ page.cost }}<br>
      {% endif %}
      {% if page.bv %}
        <strong>BV: </strong>{{ page.bv }}<br>
      {% endif %}
      <br>
      {{content}}
  </main>
{% include footer.html %}
</body>
</html>
